@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
font-family: "roboto slab", serif;

}

.first-section{
    background-color: #1F2937;
}
#header-logo{
    font-size: 24px;
    color: #f9faf8;

}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
}
.navbar{
display: flex;

}

ul{
    display: flex;
    gap: 25px;
}

.navbar-left,.navbar-right{
    display:flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.content{
    display: flex;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.content-left{
display: flex;
justify-content: center;
flex-direction: column;
width: 50%;
margin-left: 150px;


}

.top{
    margin-bottom: 50px;
    margin-right: 130px;
    border-radius: 30px;
}

.p-first{
    font-size: 18px;
    color: #e5e7eb;;

}

.sign-up-first-section{
background-color: #3882f6;
color: white;
height: 30px;
width: 100px;
border: 1px #3882f6;
border-radius: 10px;
margin-top: 10px;
}


h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
    text-align: center;
}

.row-of-blue-divs{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}

.box-blue{
    border: 3px solid rgb(115, 115, 208);
    height: 180px;
    width: 180px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}


.p-second{
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.third-section{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}
h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style:italic;
    text-align: center;
}

#p-third{
    display: flex;
    font-size: 18px;
    font-weight:600;
    color: rgb(43, 39, 39);
    justify-content: end;
    margin-right: 20%;
}
.fourth-section{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.fourth-border{
    border: 2px solid blue;
    padding: 30px 150px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: rgb(58, 58, 255);
}
.fourth-alone{
display: flex;
align-items: center;
justify-content: center;
color: whitesmoke;
margin-right: 465px;
font-weight: 900;
}

.fourth-together{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: white;
    font-weight:100;
    font-weight: lighter;
}

.button2{
    background-color: rgb(58, 58, 255);
    color: white;
    height: 30px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
}

.footer{
    background-color: #1F2937;
    color:white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}