@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Arial Black;
}
a {
    color: inherit;
    text-decoration: none;
  }
body{
font-family: "roboto slab", serif;

}

.first-section{
    background-color: #1F2937;
    background: linear-gradient(-45deg, #2023e2, #e22a70, #0b7aef, #ab23d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
   
      50% {
          background-position: 100% 50%;
      }
   
      100% {
          background-position: 0% 50%;
      }
  }
}
#header-logo{
  font-size: 24px;
  color: #f9faf8;

}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
}
.navbar{
display: flex;

}

ul{
    display: flex;
    gap: 25px;
}

.navbar-left,.navbar-right{
    display:flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #f9faf8;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.content{
    display: flex;
    margin: 50px;
}

.content-right{
  width: 300px;
}

img {
  --a: 6deg; /* control the angle of rotation (the smaller, the better) */
 
  aspect-ratio: 1;
  border-radius: 20px;
  transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));
  -webkit-mask: 
    linear-gradient(135deg,rgba(255, 255, 255, 0.8) 40%,#ffffff,rgba(255, 255, 255, 0.8) 100%)
    100% 100%/250% 250%;
  transition: .4s;
  cursor: pointer;
}
img {
  --r: 1,1;

}
img:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}
img:hover {
  -webkit-mask-position: 100% 0;
}


.content-left{
display: flex;
justify-content: center;
flex-direction: column;
width: 50%;
margin-left: 150px;


}

.top{
    margin-bottom: 50px;
    margin-right: 130px;
    border-radius: 30px;
}

p{
    font-size: 18px;
    color: #e5e7eb;;

}


.sign-up-first-section {
  margin-top: 5%;
  width: 90px;
height: 30px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sign-up-first-section:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sign-up-first-section:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
    text-align: center;
}

.row-of-blue-divs{
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}




.p-second{
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    margin-top: 20px;
}

.third-section{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}
h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style:italic;
    text-align: center;
}

#p-third{
    display: flex;
    font-size: 18px;
    font-weight:600;
    color: rgb(43, 39, 39);
    justify-content: end;
    margin-right: 15%;
    margin-top: 1.7;
}
.fourth-section{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
        justify-content: space-around;

}
.fourth-border{
    border: 2px solid blue;
    padding: 30px 150px;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    background: linear-gradient(-45deg, #e3592f, #e22a70, #23a6d5, #ab23d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
   
      50% {
          background-position: 100% 50%;
      }
   
      100% {
          background-position: 0% 50%;
      }
  }
    
}
.fourth-alone{
display: flex;
align-items: center;
justify-content: center;
color: whitesmoke;
margin-right: 165px;
font-weight: 900;
align-items: center;
margin-top: 1%;
}

.fourth-together{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 10px;
    color: white;
    font-weight:100;
    font-weight: lighter;
    
}


/* CSS */
.button2 {
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #000001;
  cursor: pointer;
  display: flex;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  margin: 25;
  min-height: 30px;
  min-width: 55px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
   margin-left: 20%;
   justify-content: top;
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}
    


.footer{
    background-color: black;
    color:white;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
 display: flex;
text-align: center;
font-weight: bolder;
}

.row2{
 display: flex;
    justify-content: space-evenly;
    margin: 1%;
  
}

.word3 {
  animation: 3s anim-lineUp ease-in-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.top{
  --a: 0deg;
    border-radius: 50px;
}